/** global element styling **/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: sans-serif;
    background-position: center;
}

#header {
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: right;
}

#header-img {
    width: 25vw;
}

.nav-link {
    flex: 1;
    text-align: right;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-link ul li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}

section {
    text-align: center;
}

input[type="email"] {
    width: 260px;
    padding: 6px;
    margin-top: 30px;
}

section #submit {
    padding: 7px;
    margin: 10px;
    border-radius: 0%;
    border: none;
    background: #f1c40f;
    font-weight: bolder;
    font-size: 17px;
    width: 200px;
    cursor: pointer;
}

#container {
    max-width: 1000px;
    width: 100%;
    margin: 10% 20%;
}

#features {
    display: flex;

}

#content {
    padding: 1% 10%;
    text-align: left;
}

#container .fa {
    color: #ff8c00;
    padding: 10% 10%;
    margin: 10%;
}

#icon {
    margin: 10px;
}

@media (max-width: 700px) {

    #header-img {
        margin-top: 15px;
        width: 50vh;
        position: relative;
        height: 30px;
    }

    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 100px;
    }

    nav li {
        padding-bottom: 5px;
    }
}