/** global element styling **/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: sans-serif;
    background-position: center;
}

#header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    justify-content: space-around;
    background-color: #eee;
    width: 100%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: right;
}

#header-img {
    width: 25vw;
}

.nav-link {
    flex: 1;
    text-align: right;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-link ul li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}

section {
    text-align: center;
    margin-top: 8%;
}

input[type="email"] {
    width: 260px;
    padding: 6px;
    margin-top: 30px;
}

section #submit {
    padding: 7px;
    margin: 10px;
    border-radius: 0%;
    border: none;
    background: #f1c40f;
    font-weight: bolder;
    font-size: 17px;
    width: 200px;
    cursor: pointer;
}

#container {
    max-width: 1000px;
    width: 90%;
    margin: 10% 20%;
}

#features {
    display: flex;
    text-align: left;
    width: 100%;
    transition: 1s;
}

#content {
    padding: 1% 10%;
    text-align: left;
}

#container .fa {
    color: #ff8c00;
    padding: 10% 10%;
    margin: 10%;
}

#icon {
    margin: 10px;
}

#how-it-works {
    margin: 10% 0%;
    width: 100%;
    align-items: center;
}

iframe {
    width: 60%;
    align-items: center;
}

#pricing {
    display: flex;
    margin: 10% 10%;
}

#item_prices {
    max-height: 60vh;
    border: 1px solid black;
    width: 300px;
    margin: 0 1%;
    border-radius: 2%;
}

#item_prices .item-head {
    padding: 15px 10px;
    text-align: center;
    background-color: #dddddd;
    font-weight: bold;
}

#item_prices .item-body {
    padding: 3%;
    text-align: center;
}

.item-body ol li {
    padding: 4%;
    list-style: none;
}

.item-body #item-button {
    padding: 4%;
    width: 140px;
    background-color: #f1c40f;
    border: none;
    font-size: 17px;
}

footer {
    min-height: 15vh;
    width: 100%;
    background-color: #dddddd;
    display: flex;
    text-align: right;
    position: relative;
    padding: 1%;
}

footer ul li {
    display: inline-block;
    text-align: right;

}

@media (max-width: 700px) {

    section {
        margin-top: 70%;
    }

    #header {
        width: 100%;
    }

    #header-img {
        margin-top: 15px;
        width: 50vh;
        position: relative;
        height: 30px;
    }

    #how-it-works {
        margin: 10% 0;
        width: 100%;
        align-items: center;
    }

    iframe {
        width: 100%;
    }

    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 100px;
        justify-content: center;
    }

    nav li {
        padding-bottom: 5px;
        align-items: center;
    }

    #container {
        width: 100%;
        font-size: 15px;
        text-align: left;
        margin: 10% 0px;
    }

    #content h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    #features {
        flex-direction: column;
        text-align: left;
        justify-content: center;
        text-align: center;
        padding: 10% 0;
    }

    #icon {
        display: none;
    }


    #pricing {
        margin: 12% 3%;
        flex-direction: column;
    }

    #item_prices {
        margin: 3% 2%;
    }

}